.selectedInfo img {
  max-width: 200px; }

.featsRow {
  width: fit-content;
  display: flex !important;
  height: auto !important; }

.featInfoCard {
  background-color: black;
  width: 200px; }
  .featInfoCard p {
    color: silver; }
    .featInfoCard p span {
      color: gold; }

.characterImage {
  max-height: 300px; }

.heroOverviewContainer {
  display: flex;
  flex-wrap: wrap;
  width: auto; }

.heroFeatTable {
  width: 200px !important; }

.heroVsTable {
  width: 200px !important; }

.heroMultiCardImg {
  max-height: 80px; }

.heroInfoCard {
  background-color: black;
  display: flex;
  flex-wrap: wrap; }
  .heroInfoCard img {
    max-height: 200px; }

#KNIGHTS {
  color: gold; }

#SAMURAI {
  color: seagreen; }

#VIKINGS {
  color: darkred; }

.buildCreateOverview {
  display: flex;
  flex-wrap: wrap; }

.KnightsFeatPick0 {
  background-color: gold; }

.KnightsFeatPick0 > div:first-child > div:first-child {
  opacity: .5; }

.KnightsFeatPick1 {
  background-color: gold; }

.KnightsFeatPick1 > div:first-child > div:first-child {
  opacity: .5; }

.KnightsFeatPick2 {
  background-color: gold; }

.KnightsFeatPick2 > div:first-child > div:first-child {
  opacity: .5; }

.KnightsFeatPick3 {
  background-color: gold; }

.KnightsFeatPick3 > div:first-child > div:first-child {
  opacity: .5; }

.KnightsFeatPick4 {
  background-color: gold; }

.KnightsFeatPick4 > div:first-child > div:first-child {
  opacity: .5; }

.KnightsFeatPick5 {
  background-color: gold; }

.KnightsFeatPick5 > div:first-child > div:first-child {
  opacity: .5; }

.KnightsFeatPick6 {
  background-color: gold; }

.KnightsFeatPick6 > div:first-child > div:first-child {
  opacity: .5; }

.KnightsFeatPick7 {
  background-color: gold; }

.KnightsFeatPick7 > div:first-child > div:first-child {
  opacity: .5; }

.KnightsFeatPick8 {
  background-color: gold; }

.KnightsFeatPick8 > div:first-child > div:first-child {
  opacity: .5; }

.KnightsFeatPick9 {
  background-color: gold; }

.KnightsFeatPick9 > div:first-child > div:first-child {
  opacity: .5; }

.KnightsFeatPick10 {
  background-color: gold; }

.KnightsFeatPick10 > div:first-child > div:first-child {
  opacity: .5; }

.KnightsFeatPick11 {
  background-color: gold; }

.KnightsFeatPick11 > div:first-child > div:first-child {
  opacity: .5; }

.SamuraiFeatPick0 {
  background-color: green; }

.SamuraiFeatPick0 > div:first-child > div:first-child {
  opacity: .5; }

.SamuraiFeatPick1 {
  background-color: green; }

.SamuraiFeatPick1 > div:first-child > div:first-child {
  opacity: .5; }

.SamuraiFeatPick2 {
  background-color: green; }

.SamuraiFeatPick2 > div:first-child > div:first-child {
  opacity: .5; }

.SamuraiFeatPick3 {
  background-color: green; }

.SamuraiFeatPick3 > div:first-child > div:first-child {
  opacity: .5; }

.SamuraiFeatPick4 {
  background-color: green; }

.SamuraiFeatPick4 > div:first-child > div:first-child {
  opacity: .5; }

.SamuraiFeatPick5 {
  background-color: green; }

.SamuraiFeatPick5 > div:first-child > div:first-child {
  opacity: .5; }

.SamuraiFeatPick6 {
  background-color: green; }

.SamuraiFeatPick6 > div:first-child > div:first-child {
  opacity: .5; }

.SamuraiFeatPick7 {
  background-color: green; }

.SamuraiFeatPick7 > div:first-child > div:first-child {
  opacity: .5; }

.SamuraiFeatPick8 {
  background-color: green; }

.SamuraiFeatPick8 > div:first-child > div:first-child {
  opacity: .5; }

.SamuraiFeatPick9 {
  background-color: green; }

.SamuraiFeatPick9 > div:first-child > div:first-child {
  opacity: .5; }

.SamuraiFeatPick10 {
  background-color: green; }

.SamuraiFeatPick10 > div:first-child > div:first-child {
  opacity: .5; }

.SamuraiFeatPick11 {
  background-color: green; }

.SamuraiFeatPick11 > div:first-child > div:first-child {
  opacity: .5; }

.VikingsFeatPick0 {
  background-color: red; }

.VikingsFeatPick0 > div:first-child > div:first-child {
  opacity: .5; }

.VikingsFeatPick1 {
  background-color: red; }

.VikingsFeatPick1 > div:first-child > div:first-child {
  opacity: .5; }

.VikingsFeatPick2 {
  background-color: red; }

.VikingsFeatPick2 > div:first-child > div:first-child {
  opacity: .5; }

.VikingsFeatPick3 {
  background-color: red; }

.VikingsFeatPick3 > div:first-child > div:first-child {
  opacity: .5; }

.VikingsFeatPick4 {
  background-color: red; }

.VikingsFeatPick4 > div:first-child > div:first-child {
  opacity: .5; }

.VikingsFeatPick5 {
  background-color: red; }

.VikingsFeatPick5 > div:first-child > div:first-child {
  opacity: .5; }

.VikingsFeatPick6 {
  background-color: red; }

.VikingsFeatPick6 > div:first-child > div:first-child {
  opacity: .5; }

.VikingsFeatPick7 {
  background-color: red; }

.VikingsFeatPick7 > div:first-child > div:first-child {
  opacity: .5; }

.VikingsFeatPick8 {
  background-color: red; }

.VikingsFeatPick8 > div:first-child > div:first-child {
  opacity: .5; }

.VikingsFeatPick9 {
  background-color: red; }

.VikingsFeatPick9 > div:first-child > div:first-child {
  opacity: .5; }

.VikingsFeatPick10 {
  background-color: red; }

.VikingsFeatPick10 > div:first-child > div:first-child {
  opacity: .5; }

.VikingsFeatPick11 {
  background-color: red; }

.VikingsFeatPick11 > div:first-child > div:first-child {
  opacity: .5; }

.commonSelect0 {
  background-color: red; }

.commonSelect1 {
  background-color: red; }

.commonSelect2 {
  background-color: red; }

.rare {
  background-color: red; }

.heroic {
  background-color: red; }

.epic {
  background-color: red; }

.legendary {
  background-color: yellow; }

/*# sourceMappingURL=styles.css.map */
