.selectedInfo img{
  max-width: 200px;
}

.featsRow{
  width: fit-content;
  display: flex!important;
  height: auto !important;
}

.featInfoCard{
  background-color: black;
  width: 200px;

  p{
    color: silver;
    span{
      color: gold;
    }
  }
}

.characterImage{
  max-height: 300px;

}

.heroOverviewContainer{
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

.heroFeatTable{
  width: 200px!important;
}
.heroVsTable{
  width: 200px!important;
}
.heroMultiCardImg{
  max-height: 80px;
}
.heroInfoCard{
  background-color:black;
  display: flex;
  flex-wrap: wrap;
  img{
    max-height: 200px
  }
}
#KNIGHTS{
  color: gold;
}
#SAMURAI{
  color: seagreen;
}#VIKINGS{
  color: darkred;
}

.buildCreateOverview{
  display: flex;
  flex-wrap: wrap;
}

.KnightsFeatPick0{
  background-color: gold;
}

.KnightsFeatPick0>div:first-child{
 opacity:.5;
}

.KnightsFeatPick1{
  background-color: gold;
}

.KnightsFeatPick1>div:first-child{
 opacity:.5;
}
.KnightsFeatPick2{
  background-color: gold;
}

.KnightsFeatPick2>div:first-child{
 opacity:.5;
}
