.selectedInfo img{
  max-width: 200px;
}

.featsRow{
  width: fit-content;
  display: flex!important;
  height: auto !important;
}

.featInfoCard{
  background-color: black;
  width: 200px;

  p{
    color: silver;
    span{
      color: gold;
    }
  }
}

.characterImage{
  max-height: 300px;

}

.heroOverviewContainer{
  display: flex;
  width: auto;
}
